table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  h2{
    font-style:italic;
    text-align: center;
    font-weight:bold;
    font-family:'Helvetica','Verdana','Monaco',sans-serif;
  }
 
  